@import '../../../../../common/common.scss';

.searchContainer{
    display: flex;
    border: solid 1px $BorderBlue;
    border-radius: 10px;
    background: $Grey;
    align-items: center;
    .searchButton{
        color: $White;
        width: 40px;
        text-align: center;
        color: #ffffff;
        width: 40px;
        text-align: center;
        background: transparent;
        border: none;
        height: 50px;
        &:hover{
            opacity: .4;
        }
        &:focus{
            outline: none
            // can do this in reset also
        }
    }
    .searchInput{
        border: none;
        border-right: solid 1px $BorderBlue;
        margin: 3px;
        font-size: 1rem;
        padding: 1rem;
        color: $White;
        flex: 1;
        background: transparent;
        &:focus{
            outline: none;
        }
        &::-webkit-input-placeholder {
            color: $White;
            opacity: .7;
                        // can do this in reset also

        }
        
    }
}
