body{
    background: #2766b2
}


.example::-webkit-scrollbar {
    display: none;
  }

  .loader {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    background: black;
    opacity: 0.7;
    .disk{
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        margin: auto;
    }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }  